<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>Hard skills</title>
</head>

<body>

	<div class="container border border-black bg-light"
		style="margin-top: 5%;">

		<h3>Hard Skills</h3>
		<hr>
		<a th:href="@{/hardskill/addHardskillForm}"
			class="btn btn-primary btn-sm mr-5 mb-3"> Add hard skill </a>




		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="hardskill, iter : ${hardskills}">

					<td
						th:text="${hardskill.name != null} ? ${hardskill.name} : 'Name not set'" />
					<td
						th:text="${hardskill.description != null} ? ${hardskill.description} : 'Description not set'" />
					<td><a
						th:href="@{/hardskill/updateHardskillForm(hardskillIndex=${iter.index})}"
						class="btn btn-info btn-sm"> Update </a> <a
						th:href="@{/hardskill/deleteHardskill(hardskillIndex=${iter.index})}"
						class="btn btn-danger btn-sm"
						onclick="if (!(confirm('Are you sure you want to delete this hard skill?'))) return false">
							Delete </a></td>

					</div>

				</tr>
			</tbody>
		</table>
		<hr>
		<a th:href="@{/menu}">Back to menu</a>

	</div>

</body>
</html>



