<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>Education</title>
</head>

<body>

	<div class="container border border-black bg-light"
		style="margin-top: 5%;">

		<h3>Education</h3>
		<hr>
		<a th:href="@{/education/addEducationForm}"
			class="btn btn-primary btn-sm mr-5 mb-3"> Add education </a>




		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Major</th>
					<th>Institution</th>
					<th>Started</th>
					<th>Graduated</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="education, iter : ${educations}">

					<td
						th:text="${education.name != null} ? ${education.name} : 'Major not set'" />
					<td
						th:text="${education.institution != null} ? ${education.institution} : 'Institution not set'" />
					<td
						th:text="${education.started != null} ? ${education.started} : 'Start date not set'" />
					<td
						th:text="${education.graduated != null} ? ${education.graduated} : 'Graduate date not set'" />
					<td><a
						th:href="@{/education/updateEducationForm(educationIndex=${iter.index})}"
						class="btn btn-info btn-sm"> Update </a> <a
						th:href="@{/education/deleteEducation(educationIndex=${iter.index})}"
						class="btn btn-danger btn-sm"
						onclick="if (!(confirm('Are you sure you want to delete this education?'))) return false">
							Delete </a></td>

					</div>

				</tr>
			</tbody>
		</table>
		<hr>
		<a th:href="@{/menu}">Back to menu</a>

	</div>

</body>
</html>



