<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>CV Generated</title>

</head>

<body>
	<div style="margin-left: 25%; margin-top: 10%"
		class="mainbox col-md-6 col-md-offset-5 col-sm-10 col-sm-offset-11 border border-black bg-light">
		<h3>Your CV has been generated successfully!</h3>

		<br>
		<br> <a target="_blank" class="btn btn-info col-2"
			th:href="@{/cv/downloadCV}">Download CV</a> <br>
		<br> <a target="_blank" class="btn btn-info col-2"
			th:href="@{/cv/displayCVBrowser}">Open CV in browser</a> <br>
		<br> <a th:href="@{/menu}">Back to menu</a>
	</div>
</body>

</html>